// брейкпоінти мін
$min-brp-1280: 1280px;
$min-brp-768: 768px;
$min-brp-480: 480px;
$min-brp-320: 320px;

// брейкпоінти макс
$max-brp-1280: 1279px;
$max-brp-768: 767px;
$max-brp-48: 479px;
$max-brp-320: 319px;
