// брейкпоінти мін
$min-brp-1200: 1280px;
$min-brp-768: 768px;
$min-brp-425: 480px;
$min-brp-320: 320px;

// брейкпоінти макс
$max-brp-1200: 1279px;
$max-brp-768: 767px;
$max-brp-425: 479px;
$max-brp-320: 319px;
