:root {
  --primary-color: #fd5103;
  --main-text-color: #202025;
  --secondary-text-color: #5f6775;
  --button-text-color: #ffffff;
  --button-bg-color: #fe7031;
  --main-bg-color: #fcfcfc;
}

// ПРОПИСАТЬ: ЦВЕТА, ШРИФТЫ И ПРОЧИЕ ПЕРЕМЕННЫЕ
