:root {
  --primary-color: #fd5103;
  --main-text-color: #202025;
  --secondary-text-color: #5f6775;
  --button-text-color: #ffffff;
  --button-bg-color: #fe7031;
  --main-bg-color: #fcfcfc;

  --primary-font: 'Poppins';
  --secondary-font: 'Roboto';

  --card-gap: 32px;
  --card-item: 3;
}

.theme-light {
  --main-text-color: #202025;
  --primary-color: #fd5103;
  --secondary-text-color: #5f6775;
  --main-bg-color: #fcfcfc;
  --button-bg-color: #fe7031;
}
.theme-dark {
  --main-text-color: #ffffff;
  --primary-color: #fd5103;
  --secondary-text-color: #5f6775;
  --main-bg-color: #202025;
  --button-bg-color: #fe7031;
}
// ПРОПИСАТЬ: ЦВЕТА, ШРИФТЫ И ПРОЧИЕ ПЕРЕМЕННЫЕ
