.is-hidden.modal-ingredient {
  pointer-events: none;
  opacity: 0;
  display: none;
}

.modal-cocktail.is-hidden .modal-ingredient {
  transform: translate(-50%, -50%) scale(0);
}
.modal-ingredient {
  // padding: 28px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 50px);

  background-color: var(--main-bg-color);
  border-radius: 4px;
  overflow: auto;

  border: 1px solid var(--primary-color);
  @include mq(mob-only) {
    width: 100%;
    max-width: 480px;
  }
  @include mq(tab) {
    width: 715px;
  }
}

.ingr-modal-wrapper {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.ingr-modal-title-wrapper {
  padding-top: 28px;
  padding-left: 28px;
}
.ingr-modal-wrapper::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  border-radius: 1px;
  background-color: var(--primary-color);
}
.modal-ingredients-desc {
  padding: 0 28px 28px 28px;
}
.ingredients-modal-title {
  margin-bottom: 28px;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 32px;
  line-height: 1.19;
  color: var(--main-text-color);
}
.ingredients-modal-subtitle {
  margin-bottom: 40px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.ingredients-modal-text {
  margin-bottom: 28px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: var(--black-text-color);
}

.ingredients-modal-list {
  margin-bottom: 40px;
}
.ingredients-modal-item {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.62;
  color: var(--main-text-color);
}
.ingredients-modal-btn {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: inherit;
  background: var(--primary-color);
  border-radius: 4px;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--button-text-color);
  @include mq(mob-only) {
    margin: 0 auto;
  }
}

.ingredients-modal-btn:hover,
.ingredients-modal-btn:focus {
  cursor: pointer;
}

.modal-ingredients-close-btn {
  width: 32px;
  height: 32px;
  border: none;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  background-color: inherit;
}
.modal-ingredients-close-btn:hover,
.modal-ingredients-close-btn:focus {
  cursor: pointer;
}

.icon-modal-ingredients {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-text-color);
}

.modal-ingredients-close-btn:hover .icon-modal-ingredients,
.modal-ingredients-close-btn:focus .icon-modal-ingredients {
  fill: var(--primary-color);
}
