<div class="container ingredients">
  <h2 class="title-ing">Favorite ingredients</h2>
  <ul class="list-ing card-set">
    <li class="list-ing__item card-set__item">
      <h2 class="list-ing__title">Campari</h2>
      <p class="list-ing__name">Liqueur</p>
      <div class="list-btn">
        <button type="button" class="btn-modal">Learn more</button>
        <button type="button" class="btn-remove">Remove</button>
      </div>
    </li>
    <li class="list-ing__item card-set__item">
      <h2 class="list-ing__title">Blanco tequila</h2>
      <p class="list-ing__name">Distilled beverage</p>
      <div class="list-btn">
        <button type="button" class="btn-modal">Learn more</button>
        <button type="button" class="btn-remove">Remove</button>
      </div>
    </li>
    <li class="list-ing__item card-set__item">
      <h2 class="list-ing__title">Vermouth</h2>
      <p class="list-ing__name">Fortified wine</p>
      <div class="list-btn">
        <button type="button" class="btn-modal">Learn more</button>
        <button type="button" class="btn-remove">Remove</button>
      </div>
    </li>
  </ul>
</div>
