<header class="header container">
  <div class="container header__pad">
    <nav class="navigation">
      <a class="navigation__logo">
        <svg class="navigation__logo--current" width="156" height="43">
          <image
            class="navigation__logo--currents"
            xlink:href="./images/logos.svg"
          />
        </svg>
      </a>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Favorite</a>
        </li>
      </ul>
    </nav>
    <form class="subscription__form">
      <div class="subscription__span">
        <svg class="subscription__icon" width="24" height="24">
          <image xlink:href="./images/focus.svg" />
        </svg>
      </div>
      <label class="site-search" for="site-search">Search</label>
      <input type="search" id="site-search" name="q" />
    </form>
    <div class="header__switch">
      <p class="switch__light">Light</p>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <p class="switch__dark">Dark</p>
    </div>
    <button class="button__menu">
      <svg class="subscription__icon" width="30" height="17">
        <image xlink:href="./images/menu.svg" />
      </svg>
    </button>
  </div>
</header>
