<div class="container header__container">
  <a href="./index.html" class="header__logo">
    <picture>
      <source
        srcset="
          ./images/header/Logo@mob.png   1x,
          ./images/header/Logo@mob2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/header/Logo@tab.png   1x,
          ./images/header/Logo@tab2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source />
      <img
        class="logo-cocktails"
        src="./images/header/Logo@mob.png"
        alt="logo"
        widt="156"
      />
    </picture>
  </a>
  <div class="desctop-wrapper">
    <div class="navigation-wrapper">
      <nav class="desc-menu">
        <ul class="desc-menu__link">
          <li><a href="" class="mob-nav__link">Home</a></li>
          <li>
            <button href="/" class="mob-nav__link favorite-acctive">
              Favorite
            </button>
            <div class="favorite-wrapper favorite-wrapper__close">
              <a href="/" class="favorite-link">Favorite cocktails</a>
              <a href="/" class="favorite-link">Favorite ingredients</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="features-wrapper">
      <form class="search__form">
        <svg class="search__icon" width="20" height="20">
          <image xlink:href="./images/focus.svg" />
        </svg>
        <input class="search__input" type="text" placeholder="Search" />
      </form>

      <div class="theme-wrapper">
        <span class="theme-name__light theme-acctive">Light</span>
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox" class="label">
          <div class="ball"></div>
        </label>
        <span class="theme-name__dark">Dark</span>

        <button class="btn-login">logIn</button>
      </div>
    </div>
  </div>
  <button type="button" class="mob-btn-open" aria-label="mobile menu button">
    <svg class="mob-btn__icon" width="30" height="16">
      <image xlink:href="./images/menu.svg" />
    </svg>
  </button>

  <div class="mob-menu is-hidden" data-menu>
    <button type="button" class="mob-btn-close" aria-label="mobile menu button">
      <svg class="mob-btn__icon" width="32" height="32">
        <image xlink:href="./images/modal-close.svg" />
      </svg>
    </button>
  </div>
</div>
