<section class="section hero">
  <div class="container hero-container">
    <div class="hero-wraper">
      <h1 class="hero-title">
        A party without cocktails <br />
        is not like a party
      </h1>
      <p class="hero-text">Search your favorite cocktail by ABC</p>
      <ul class="hero-list js-hero-list"></ul>
    </div>
    <picture class="hero-img">
      <source
        srcset="
          ./images/hero/hero-cocktail-1x-desc.png 1x,
          ./images/hero/cocktail-2x-desc.png      2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/cocktail-1x-tab.png 1x,
          ./images/hero/cocktail-2x-tab.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/cocktail-1x-mob.png 1x,
          ./images/hero/cocktail-2x-mob.png 2x
        "
        media="(min-width: 320px)"
        width="280"
      />
      <img src="./images/hero/hero-cocktail-1x-desc.png" alt="Coctail" />
    </picture>
  </div>
</section>

<section class="section sorry js-sorry is-hidden">
      <div class="container sorry-container">
        <h2 class="sorry-title section-title">
          Sorry, we didn't find <br />
          any cocktail for you
        </h2>
        <picture class="sorry-img">
          <source
            srcset="
              ./images/sorry-1x-desc.png 1x,
              ./images/sorry-2x-desc.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/sorry-1x-mob.png 1x, ./images/sorry-2x-mob.png 2x"
            media="(min-width: 480px)"
            width="280"
          />
          <img src="./images/sorry-1x-desc.png" alt="People and table" />
        </picture>
      </div>
    </section>
  </div>
</section>
