<div class="modal-ingredients__container">
  <ul class="modal-ingredients__list"></ul>
  <div class="js-modal-ingredients">
    <!-- <img src="#" alt="#" width="288" height="320" /> -->
    <h2 class="name__ingredients"></h2>
    <p class="modal-ingredients__title"></p>
    <p class="modal-ingredients__subtitle"></p>
    <ul class="modal-ingredients__list"></ul>
    <p class="modal-ingredients__title"></p>
    <p class="modal-ingredients__description"></p>

    <button class="modal-ingredients__btn">Cocktails</button>
    <svg class="modal-ingredients__icon-close" width="18" height="18">
      <use href="./images/modal-close.svg"></use>
    </svg>
  </div>
</div>

