<!-- <div class="is-hidden modal-ingredient js-modal-ingredient">
  <button
    type="button"
    class="modal-ingredients-close-btn"
    data-modal-close-ingr
  >
    <svg class="icon-modal-ingredients" height="32" width="32">
      <use href="./images/icons-modal.svg#icon-close-modal-cocktail"></use>
    </svg>
  </button>
  <div class="ingr-modal-wrapper">
    <div class="ingr-modal-title-wrapper">
      <h3 class="ingredients-modal-title">${strIngredient}</h3>
      <h4 class="ingredients-modal-subtitle">
        ${strType === null ? 'Sorry, not specified' : strType}
      </h4>
    </div>
  </div>
  <p class="ingredients-modal-text">
    ${strDescription === null ? 'Sorry, not specified' : strDescription}
  </p>
  <ul class="ingredients-modal-list">
    <li class="ingredients-modal-item">
      ✶ Type: ${strType === null ? 'Sorry, not specified' : strType}
    </li>
    <li class="ingredients-modal-item">
      ✶ Country of origin: Sorry, not specified
    </li>
    <li class="ingredients-modal-item">✶ Alcohol : ${strAlcohol}</li>
    <li class="ingredients-modal-item">✶ Flavour: Sorry, not specified</li>
  </ul>
  <button type="button" class="ingredients-modal-btn">Add to favorite</button>
</div> -->
